<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">
    
    <appender name="develop" class="org.apache.log4j.FileAppender">
        <param name="file" value="/opt/ericsson/gvto/dsmcc_tool/log/app.log" />
        <param name="append" value="true" />
        <param name="threshold" value="DEBUG" />
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d{ISO8601} %-5p [%t] %C{1}.%M(): %m%n" />
        </layout>
    </appender>
    
    <appender name="console" class="org.apache.log4j.ConsoleAppender">
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d{ISO8601} %-5p: %m%n" />
        </layout>
    </appender>
    
    <!-- Loggers -->
    <logger name="com.ericsson.mystro">
        <level value="DEBUG" />
    </logger>
    
    <logger name="com.sun.jersey">
        <level value="ALL" />
    </logger>

    <root>
        <priority value="INFO" />
        <appender-ref ref="develop" />
        <appender-ref ref="console" />
    </root>
</log4j:configuration>